@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,600);

*, *::after, *::before {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
	padding: 20px;
	height: 100%;
	background: #eee;
	font-size: 14px;
	line-height: 1;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

#card {
    width: 25rem;
    margin: auto;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.footer {
    font-size: .9rem;
    font-weight: 400;
    color: #b4c4c8;
    position: absolute;
    bottom: 3%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.footer span {
  color: #F03A47;
}

.footer a {
  font-weight: 600;
  color: #b4c4c8;
}

.footer a:hover {
  text-decoration: underline;
}
